<footer class="row">
  <div class="small-12 columns text-center"><hr/>
    {{ site.author }} &copy; 2017 &middot; <a href="http://ruassembly.com" target="_blank">RUSA</a>
    <p><small>Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a> &amp; <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">Flaticon</a>, licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></small></p>
  </div>
</footer>
