<div class="contain-to-grid">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name"><h1><a href="{{ root_url }}/">Rutgers Chinese Dance Troupe</a></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="{{ root_url }}/about">About Us</a></li>
        <li><a href="{{ root_url }}/eboard">Eboard</a></li>
        <li><a href="{{ root_url }}/gallery">Gallery</a></li>
        <li><a href="{{ root_url }}/performances">Performances</a></li>
        <li><a href="{{ root_url }}/events">Upcoming Events</a></li>
        <li><a href="{{ root_url }}/#join">Join Us!</a></li>
        <li><a href="https://www.facebook.com/pages/Rutgers-Chinese-Dance-Troupe/181506421882276" target="_blank"><i class="fi-social-facebook topbar"></i></a></li>
        <li><a href="https://www.youtube.com/user/RUChineseDanceTroupe" target="_blank"><i class="fi-social-youtube topbar"></i></a></li>
      </ul>
    </section>
  </nav>
</div>
<br/>
